@import url('https://fonts.googleapis.com/css?family=Acme|Permanent+Marker');

body {
    width: 100%;
    background-image: url(../images/kanban-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow-x: hidden;   
}
.board {
    width: 1200px;
    width: 100%;
}
.board h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 4px black;
    font-family: 'Acme', sans-serif;
}
.create-column {
    background-color: yellow;
    border-radius: 50%;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    box-shadow: 5px 5px;
}
.create-column:hover {
    transform: scale(1.15);
    transition: transform .5s ease-in;
}
.column-container {
    width: 100%;
    text-align: center;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}
.column {
    background-image: url(../images/paper-column.jpeg);
    background-size: cover;
    box-shadow: 7px 7px 7px black;
    flex-direction: row;
    margin: 20px auto;
    width: 30%;
}
.column-title {
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    padding: 20px 0;
    margin: 0;
}
button.add-card {
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 2px 2px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 20px;
}
.column-card-list {
    list-style: none;
    padding: 0px;
    min-height: 50px;
}
.btn-delete {
    border: none;
    background-color: white;
    color: red;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
li.card {
    padding-bottom: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;

}
.card-description {
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    margin: 0;
}
.card-placeholder {
    margin: 0 auto;
    width: 40%;
    background-color: red;
    opacity: 0.5;
    text-decoration: underline;
    min-height: 1px;
}


